* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    Helvetica,
    Segoe UI,
    Arial,
    Roboto,
    'PingFang SC',
    'miui',
    'Hiragino Sans GB',
    'Microsoft Yahei',
    sans-serif;
  text-size-adjust: 100% !important; /** IOS禁止微信调整字体大小 */
}

#app {
  height: 100vh;
  height: 100dvh;
  position: relative;
  overflow-x: hidden;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition:
    opacity 0.2s,
    transform 0.3s,
    -webkit-transform 0.3s;
  position: absolute;
  left: 0;
  width: 100%;
}

.slide-left-enter-from,
.slide-right-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.slide-left-leave-to,
.slide-right-enter-from {
  transform: translateX(-20px);
  opacity: 0;
}

.absolute-layout-enter-active,
.absolute-layout-leave-active {
  position: absolute;
  left: 0;
  width: 100%;
}
