* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    Helvetica,
    Segoe UI,
    Arial,
    Roboto,
    'PingFang SC',
    'miui',
    'Hiragino Sans GB',
    'Microsoft Yahei',
    sans-serif;
  text-size-adjust: 100% !important; /** IOS禁止微信调整字体大小 */
}

html {
  background: var(--van-gray-1);
  color-scheme: light;
  font-size: 10vw;
}

html.dark {
  background: #222;
  color-scheme: dark;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC",
      "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  text-size-adjust: 100% !important; /** IOS禁止微信调整字体大小 */
}

.top-safe-area {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
.bottom-safe-area {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

#app {
  height: 100vh;
  height: 100dvh;
  position: relative;
  overflow-x: hidden;
  font-size: 14px;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition:
    opacity 0.2s,
    transform 0.3s,
    -webkit-transform 0.3s;
  position: absolute;
  left: 0;
  width: 100%;
}

.slide-left-enter-from,
.slide-right-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.slide-left-leave-to,
.slide-right-enter-from {
  transform: translateX(20px);
  opacity: 0;
}

.absolute-layout-enter-active,
.absolute-layout-leave-active {
  position: absolute;
  left: 0;
  width: 100%;
}
